body {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

form div{
    padding: 20px;
}

.gender {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 0;
    padding-bottom: 0;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}