body {
    background-image: url('img/knights-canyon-challenge-dragon-digital-painting.jpg');
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: monospace;
}

.profile {  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    color: white;
    width: 600px;
    font-size: large;  
    padding: 30PX;
}

h1 {
    font-size: 80px;
}

.profilePicture {
    width: 200px;
    border-radius: 100px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 40%;
    border-radius: 15px;
    border: 2px crimson solid;
    background-color: darkred;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
}

button:hover {
    border: 2px #811331 solid;
    background-color: #AA336A;
}